.visited-countries-bg {
  background-color: #1f1f2f;
  margin-right: 20px;
  list-style-type: none;
}
.image {
  height: 120px;
}
.div {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  padding-left: 20px;
}
.remove {
  color: white;
  border: solid 2px white;
  background-color: transparent;
  border-radius: 5px;
  padding: 5x;
}
.name {
  color: white;
  font-family: roboto;
}
p {
  color: white;
}
